body{
    background-color: rgba(31, 30, 30, 0.959);
}
h1{
    text-align: center;
    color: white;
    font-family: 'Syne Mono', monospace;
}
.centerDiv{
    display:flex;
    justify-content: center;
    align-items: center;
}
.container{
    width:800px;
    height: 800px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
}
select{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    margin-top:10px;
    width:140px;
    height:40px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}
option{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
}
label{
    color:white;
    font-family: 'Syne Mono', monospace;
}